body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.splash-container {
    position: absolute;
}

.splash {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid #eee;
    background-color: rgba(255, 255, 255, 0.3);
    width: 400px;
    color: #ff8d00;
    text-align: center;
}

.splash p {
    margin: 40px 90px;
}

.ui {
    background: black;
}

.full-window {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}


.ui-background {
}


.star-system-container {
}



.info-box {
    position: absolute;
    color: white;
    right: 2vh;
}
