
.star-system-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.selection-fleets-list {
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
    border: 1px solid black;
    width: 30%;
}


.selection-fleet {
    background-color: lightgreen;
    margin: 0.5vh;
}

.selection-fleet .fleet-header {
    background-color: green;
    color: lightgreen;
    display: flex;
    justify-content: space-between;
}
.fleet-header .fleet-name {
    margin: 0.5vh;
}


.selection-ships-list {
}


.selection-ship {
    display: flex;
    align-items: center;
}

.selection-ship .ship-name {
    color: green;
    margin-left: 0.5vh;
}


.info-box {
    position: absolute;
    right: 2vh;
}
